In [1]:
import sqlite3

In [9]:
query = "CREATE TABLE dataengineer_test (a VARCHAR(20), b VARCHAR(20),c REAL, d INTEGER);"

con = sqlite3.connect('ercsssndata.db')

con.execute(query)

OperationalError: table dataengineer_test already exists

In [10]:
con.commit()

In [19]:
data = [('Atlanta', 'Georgia', 1.25, 6),('Tallahassee', 'Florida', 2.6, 3), ('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO dataengineer_test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()

In [21]:
data = [('Atlanta', 'Georgia', 1.25, 6),('Tallahassee', 'Florida', 2.6, 3),('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO dataengineer_test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()