In [14]:
import sqlite3
import sqlalchemy as sqla
import pandas as pd

In [2]:
query = """CREATE TABLE ercsssntest 
(a VARCHAR(20), b VARCHAR(20), 
 c REAL, d INTEGER);"""

con = sqlite3.connect('ercsssn_database.db')
con.execute(query)
con.commit()

In [4]:
data = [('Atlanta', 'Georgia', 1.25, 6),('Tallahassee', 'Florida', 2.6, 3),('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO ercsssntest VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [7]:
cursor = con.execute('select * from ercsssntest')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [8]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [12]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [17]:
db = sqla.create_engine('sqlite:///ercsssn_database.db')
pd.read_sql('select * from ercsssntest', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5